/* This is a custom css file for PO and RFQ reports */

.watermark {
    position: absolute;
    opacity: 0.25;
    font-size: 3em;
    width: 100%;
    text-align: center;
    z-index: 1000;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

.watermark>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
    margin-bottom: auto;
    width: 90%;
}

.table.table-condensed>thead {
    background-color: #92d300;
}